{% extends "Rx7BookshelfBundle::layout.html.twig" %}

{% block title %}
  Bibliotheque - {{ parent() }}
{% endblock %}

{% block bookshelf_body %}

	<h2>{{ bookshelf.name }}</h2>
  
	<ul>
		<li>Localisation : {{ bookshelf.localisation }}</li>
		<li>Position : {{ bookshelf.position }}</li>
	</ul>

	  <p>
    <a href="{{ path('rx7bookshelf_index') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>

  </p>

{% endblock %}