{% extends "Rx7BookBundle::layout.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block book_body %}

	<div class="row">
		{# On vérifie qu'une image soit bien associée à l'article #}
		  {% if book.cover is not null %}
		  <div class="col-sm-6 col-md-4 col-lg-2">
		    <img src="{{ book.cover.url }}" alt="{{ book.cover.alt }}" class="thumbnail img-responsive" />
		  </div>

		  {% endif %}  
		<div class="col-sm-6 col-md-8 col-lg-10">{{ book.title }}</div>
	</div>
	
  <i>Par {{ book.author.FirstName }} {{ book.author.lastName }}, achetté le {{ book.purchaseDate|date('d/m/Y') }}</i>

  <div class="well">
    {{ book.text }}
  </div>

 
  <p>
    <a href="{{ path('rx7book_index') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('rx7book_update', {'id': book.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Modifier le livre
    </a>
    <a href="{{ path('rx7book_delete', {'id': book.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Supprimer le livre
    </a>
  </p>

{% endblock %}