{% extends "Rx7BookBundle::layout.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block book_body %}

	<div class="row">
		{# On vérifie qu'une image soit bien associée à l'article #}
		  {% if book.cover is not null %}
		  <div class="col-sm-6 col-md-4 col-lg-2">
		    <img src="{{ asset(book.cover.webPath) }}" alt="{{ book.cover.alt }}" class="thumbnail img-responsive" />
		  </div>

		  {% endif %}  
		<div class="col-sm-6 col-md-8 col-lg-10"><h2>{{ book.title }}</h2>
		
		{% if book.categories.count > 0 %}
    Catégories :
    {% for category in book.categories %}
      {{ category.name }}
      {% if not loop.last %} - {% endif %}
    {% endfor %}
  {% endif %}
		</div>
	</div>
	
  <i>Par {{ book.author.FullName }}, achetté le {{ book.purchaseDate|date('d/m/Y') }}</i>

  
  
  <div class="well">
    {{ book.text }}
  </div>

 
  <p>
    <a href="{{ path('rx7book_index') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('rx7book_update', {'id': book.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Modifier le livre
    </a>
    <a href="{{ path('rx7book_delete', {'id': book.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Supprimer le livre
    </a>
  </p>

{% endblock %}