{% extends "Rx7BookBundle::layout.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block book_body %}

  <h2>{{ book.titre }}</h2>
  <i>Par {{ book.auteur }}, le {{ book.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ book.contenu }}
  </div>

 
  <p>
    <a href="{{ path('rx7book_index') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('rx7book_update', {'id': book.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Modifier l'article
    </a>
    <a href="{{ path('rx7book_delete', {'id': book.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Supprimer l'article
    </a>
  </p>

{% endblock %}