{% if app.user.username is defined %}

<h3><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></h3>

<ul class="nav nav-pills nav-stacked">
  {% for link in link_list %}
    <li role="presentation""><a href="{{ path(link.route) }}">{{ link.display }}</a></li>
  {% endfor %}
 
</ul>

{% else %}
	{% for link in link_list %}
  		<h3><a href="{{ path(link.route) }}">{{ link.display }}</a></h3>
 	{% endfor %}
{% endif %}